.footer{
    background: #f5f5f5;
}

.footer > div {
    padding: 50px 0;
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.footer-logo {
  display: flex;
  flex-direction: column;
  gap: 15px;
  h5 {
    font-weight: 400;
    font-size: 18px;
    color: #000;
  }
}

.footer-links {
  display: flex;
  flex-direction: column;
  gap: 15px;
  h6 {
    font-family: var(--third-family);
    font-weight: 400;
    font-size: 24px;
    color: #000;
  }
  a {
    font-weight: 400;
    font-size: 18px;
    color: #434242;
  }
}

.footer-contact {
  display: flex;
  flex-direction: column;
  gap: 20px;
  h6 {
    font-weight: 400;
    font-size: 24px;
    color: #000;
  }
  a {
    font-weight: 400;
    font-size: 18px;
    color: #434242;
  }
}
